.App {
  text-align: center;
}

.App-header {
  background-color: #0e1b75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-size: cover;
}

.cardBody {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.div-nav {
  padding-top: 3rem;
}

.stack-align {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.cardNews {
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // display: flex;
  background-color: #0e1b75;
  border-radius: 1rem;
}

.cardTitle {
  text-align: top;
}

.cardMain {
  width: 20rem;
  height: 25rem;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary": #0e1b75,
  "danger": #f74141,
  "light": #666666,
);

.color-nav {
  background-color: #0e1b75;
}

.nav-links:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .stackBody {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn-resize {
    width: 90%;
    font-size: 10rem;
  }
}

.table-bordered th,
.table-bordered td {
  border: 0.5rem solid #0e1b75 !important;
}

input[type="checkbox"] {
  width: 5rem;
  height: 5rem;
}

input[type="checkbox"]:checked {
  background-color: #0e1b75;
}

.table-radius {
  border-radius: 1rem;
  overflow: hidden;
}

@import "~bootstrap/scss/bootstrap";

.btn-circle {
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding: 1px 1px 0 2px;
  font-size: 12px;
  border-radius: 5rem;
}

.form-group {
  margin-bottom: 1rem;
}

@import "../node_modules/react-toastify/dist/ReactToastify.min.css";
