.App {
  text-align: center;
}

.App-header {
  background-color: #0e1b75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-size: cover;
}

.cardBody {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.div-nav {
  padding-top: 3rem;
}

.stack-align {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.cardNews {
  background-color: #0e1b75;
  border-radius: 1rem;
}

.cardTitle {
  text-align: top;
}

.cardMain {
  width: 20rem;
  height: 25rem;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.color-nav {
  background-color: #0e1b75 !important;
}

.color-red {
  background-color: #f74141 !important;
}

.nav-links:hover {
  text-decoration: underline;
}

.btn-hover-red:hover {
  background-color: #f74141 !important;
}

.btn-hover-green:hover {
  background-color: #2e8b57 !important;
}

@media only screen and (max-width: 640px) {
  .stackBody {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn-resize {
    width: 90%;
    font-size: 10rem;
  }
  .admin-home-btn {
    width: 90%;
  }

  .ajust-fs {
    font-size: 0.8rem;
  }

  .form-element-resize {
    flex-direction: column;
    width: 90%;
  }
  .candidate-width {
    width: 90%;
  }
  .candidate-name-field {
    font-size: 100px;
  }
  .error-box-width {
    width: 90%;
    font-size: small;
  }
  .accordion-width {
    width: 90%;
    font-size: smaller;
  }
  .carousel-item {
    width: 100%;
    height: 100%; /* example */
  }
  .carousel-bg-color {
    background-color: #0e1b75 !important;
    opacity: 0.9;
    color: white;
  }
  .result-table-width {
    width: 95% !important;
    font-size: small !important;
  }
  .info-size {
    width: 90%;
    font-size: small;
  }
}

@media only screen and (min-width: 640px) {
  .admin-home-btn {
    width: 30%;
  }
  .form-element-resize {
    width: 75%;
  }
  .candidate-width {
    width: 75%;
  }
  .error-box-width {
    width: 75%;
  }
  .accordion-width {
    width: 75%;
  }

  .carousel-item {
    width: 100%;
    height: 55rem; /* example */
  }
  .carousel-bg-color {
    background-color: #0e1b75;
    opacity: 0.9;
    color: white;
  }
  .result-table-width {
    width: 50% !important;
  }
}

.table-bordered th,
.table-bordered td {
  border: 0.5rem solid #0e1b75 !important;
}

input[type="checkbox"] {
  width: 5rem;
  height: 5rem;
}

input[type="checkbox"]:checked {
  background-color: #0e1b75;
}

.table-radius {
  border-radius: 0.5rem;
  overflow: hidden;
}

.sticky-nav {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 1;
}
.pd {
  padding-top: 5rem;
}

@import "~bootstrap/scss/bootstrap";

.btn-circle {
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding: 1px 1px 0 2px;
  font-size: 12px;
  border-radius: 5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-radius {
  border-radius: 0.2rem;
  height: 2rem;
  padding: 5px 0px 0 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@import "../node_modules/react-toastify/dist/ReactToastify.min.css";
